{% extends 'base.html.twig' %}

{% block body %}
    <h1>Command list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Ref</th>
                <th>Datecreated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for command in commands %}
            <tr>
                <td><a href="{{ path('command_show', { 'id': command.id }) }}">{{ command.id }}</a></td>
                <td>{{ command.ref }}</td>
                <td>{% if command.dateCreated %}{{ command.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('command_show', { 'id': command.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('command_edit', { 'id': command.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('command_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
